{% extends 'layout.html' %}

{% block content %}

<h1>Book Reviews</h1>
<hr>

<div class="review">
<img src="/media/Sams.jpg" class="card-img-top" alt="Front cover of Sams Teach Yourself SQL in ten minutes book">
<h2 class="book-header">Sams Teach Yourself SQL in 10 Minutes by Ben Forta</h2>
<p class="inline-text">My feelings about this book are ambivalent. On the one hand,
  the information provided within the book is valuable and concise.
  On the other hand, this book feels more like a supplement to a 
  college course as opposed to a standalone teaching utility. This
  is made apparent by the author's intro to the book where he explains
  that he felt there weren't any adequate basic books on SQL.
  The examples feel rushed, as though the author was relying on the 
  fact that he would be there to fill in the gaps himself
  inside a class-room setting. Regardless, what is present in the book
  is sufficient enough to be understood and applied. Having tested
  my knowledge of the book against HackerType challenges, I can
  approve this book with a word of caution.
<br><br>
Rating: 6/10
</p>
</div>
<hr>


<div class="review">
<img src="/media/PythonCrashCourse.jpg" class="card-img-top" alt="Front over of the Python Crash Course by Eric Matthes book">
<h2 class="book-header">Python Crash Course by Eric Matthes</h2>
<p class="inline-text">It is hard not to feel prepared for the world of Python after reading, and practicing, what is in this book.
  The author spares no effort in packing in as much information, examples and advice as possible
  to what seems to be every possible command in Python. The most helpful aspect of this book, after the
  information about Python, is the methodology the author tries to instill in the reader.
  His advice about effective problem solving, understanding that there are multiple ways to
  solve problems/produce results and best practices elevates your understanding of Python
  from a purely techincal level to that of a sophisticated amateur. The one downfall of the
  book is its example projects. As it came out in 2015, the examples are mostly outdated and
  in order to effectively follow the examples you must use more modern substitutes for the
  modules he proposes using. Otherwise, an excellent book.
<br><br>
Rating: 9/10
</p>
</div>
<hr>

<div class="review">
<img src="/media/HTMLCSS.jpg" class="card-img-top" alt="Front cover of Jon Duckett's HTML and CSS book">
<h2 class="book-header">HTML&CSS: design and build websites by Jon Ducket</h2>
<p class="inline-text">As expected, Jon Duckett's book covers all you need to know about
  the fundementals of HTML and CSS. The book's style is
  very effective for teaching the two languages. The information about technical
  aspects of code are concise. This makes it easy to learn and to revise if necessary. 
  Simultaneously, the information about non-technical ideas such as 
  good practices, accessibility for the blind and what is visually appealing
  is expansive. The combination of the two makes the information easy to digest.
  The layouts make for an easy read and the examples are coloured to reflect what
  the code would look like in a IDE, making the information that much more digestible.
  <br>
  Out of the two halves of the book, the CSS half was the most daunting.  
  Whereas the author's choice to explain HTML technically was an appropriate and
  excellent decision, the choice to explain CSS technically was not. Granted,
  it is hard to imagine how else to document CSS without displaying all the
  commands it has on offer. Regardless, the book does not touch on what 
  would actually look good in CSS. I realised very quickly that although
  I knew how CSS worked I could not produce something that was visually appealing.
  Overall, an excellent book for understanding the fundementals of HTML and CSS.
  <br><br>
  Rating:
  8/10</p>
</div>



<style> 
  .content {
    padding: 40px;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    background-color: #f8f9fa;
    margin-top: 40px;
    padding-top: 10px;
    border-radius: 5px;
  }
  img {
    float: left;
    max-width: 30%;
    padding-right: 10px;
  }
  .review {
    overflow: auto;
  }
  

</style>



{% endblock %}

