{% extends 'layout.html' %}

{% block content %}

<p>

<h1>About me</h1>

Hello, I am Ilja Belankins. I am aiming to become a software engineer.
I have been tutored since April by a friend who is a senior software engineer. 
I have built a handful of personal projects and am currently working 
on a group project with two seniors. 
I am reading a variety of books about programming languages and
back end technologies. My degree in History has prepared me for 
programming as being consistently peer reviewed 
and doing independent research was routine in my 
historical studies.
The reason I want to become a software engineer is because I enjoy
the challenge of coding. It is an evolving and exciting industry to 
work in that I want to be a part of.</p>

<br>

<h2>Skills and Qualificaions</h2>

<h3>AWS:</h3>

<p>As an AWS Cloud Practitioner I have the foundational knowledge of operating AWS services.
<a href ="https://www.youracclaim.com/badges/b1a1d703-c999-4a77-8777-9d6fa72a7098">Click here to view my badge.</a></p>

<ul>

  <li>Cloud Computing and Storage - This includes knowledge of computation services like EC2 instances, 
    Lambda, Batch and Lightsail as well as storage services such as the various S3 storage classes and databases
    like RDS, Aurora, DynamoDB and ElastiCache. Also knowledge of load balancing, elasticity, availability
    and vertical and horizontal scalability which tie into ElastiCache, Route 53 and CloudFront.

  <li> Analytics tools - Fundemantal understanding of analytics tools such as Glue, EMR and Athena (for S3 data) and data
    warehousing through Redshift.
  
  <li>AWS DevOps - Core understanding of deployment services such as CodeDeploy and Beanstalk as well as 
    infrastructure as code through CloudFormation. 
  
  <li>Security and Monitoring - Broad knowledge of security services such as IAM, Secrets Manager, 
    GuardDuty, Macie, KMS, CloudHSM, DDOS protection through WAF, Shield and Route 53 
    as well as monitoring tools such as SSM, CloudWatch and its extensions, CloudTrail and X-Ray.
  
  <li>Architecture principles - Conceptual understanding of the five pillars of Operational Excellence, 
    Security, Reliablity, Performance Efficiency and Cost Optimization.
  
  </ul>

<h3>Python:</h3>

<p>All my projects so far have involved using Python 3.
  These were two games, an API and a website.</p>

<ul>

<li>SQLAlchemy - I have used SQL across two projects so far.
In the first, I used it to create database models that would be 
queried and returned from an API. In the second, I used it to
dynamically generate the project pages on this site.

<li>Pygame - My second work-in-progress game is being built using Pygame,
which is a Python framework for 2D game development. I have been 
using it to develop a bullet-hell RPG style game.

<li>Alembic - I have used Alembic to manage the 
migrations for the database that backs this website.

<li>Flask - So far I have used it to build the backend of my 
website. And I will also be using it in the group project
that I am a part of to develop a JSON API.

<li>Django and Django Rest Framework - My current project is being developed
  using Django and the Django Rest Framework. 
  

</ul>

<h3>Web Development:</h3>

<ul>

<li>React - The Boardgame Wishlist project's front end is built
  using react in order to provide a more seamless experience for
  the site's users.

<li>HTML - During development of my website I taught myself
HTML from an excellent book and have used it to build
the structural layout of my website's front end.

<li>CSS - From the same book I learned CSS to improve the
visual appeal of my website.

<li>Bootstrap - Whilst developing my website I was pointed
in the direction of bootstrap. I have been learning
and implementing it to streamline the production of this site.

</ul>

<h3>DevOps:</h3>

<p>Most of my projects have been deployed onto heroku using BitBucket
  pipelines and I am currently migrating all my apps to Terraform as 
  I am building out my infrastructure as code.
</p>

<ul>

  <li>Heroku - All my apps to heroku using their free tier. This includes
    my webservers and databases.
  
  <li>Terraform - All my apps will be migrated to Terraform to manage the 
    creation of my infrastructure more effectively

  <li>CI/CD - In the spirit of CI, I build out my projects as a series of 
    smaller tasks of which I commit and push to production. For CD,
    I have set up pipelines on a number of my projects to automatically
    push my code from its production branch to its deployed service.
  
  <li>BitBucket pipelines - Since I am Bitbucket as my code repository of
    choice, I have been using their BitBucket pipelines tool to automate 
    pushing code to services and migrating databases.
  
  </ul>

<h3>SQL:</h3>

<p>I have been teaching myself SQL from another book that
I've purchased and have been taking online SQL challenges to
habitulise using it.</p>

<ul><li>MYSQL - I have been using a MYSQL database as the data storage
solution for my website. 

<li>PostgreSQL - My boardgame wishlist project uses a PostgreSQL 
database for facilitating the functionality of user data, tokens and so on.

</ul>

<h3>GIT:</h3>

<p>I have been using GIT repositories across all my projects to
store my projects.</p>


<ul>
  <li>BitBucket - I have been using BitBucket as my GIT repository 
    solution for all my projects.
</ul>


<style> 
.content {
  padding: 40px;
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  background-color: #f8f9fa;
  margin-top: 40px;
  padding-top: 10px;
  border-radius: 5px;
}

h3 {
  font-size: 1.4rem;
}
</style>

{% endblock %}

