<html>
    <head>
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-180151157-1"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-180151157-1');
      </script>

      <title>Ilja Belankin's Site</title>


      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
      <meta property="og:title" content="Ilja Belankins Portfolio" />
      <meta property="og:description" content="A hub for my programming skills, projects and research." />
      <meta property="og:image" content="http://iljabelankins.co.uk/media/metaimage.jpg" />
      <meta name="description" content="A hub for my programming skills, projects and research.">
      <link rel="apple-touch-icon" sizes="57x57" href="/media/apple-icon-57x57.png">
      <link rel="apple-touch-icon" sizes="60x60" href="/media/apple-icon-60x60.png">
      <link rel="apple-touch-icon" sizes="72x72" href="/media/apple-icon-72x72.png">
      <link rel="apple-touch-icon" sizes="76x76" href="/media/apple-icon-76x76.png">
      <link rel="apple-touch-icon" sizes="114x114" href="/media/apple-icon-114x114.png">
      <link rel="apple-touch-icon" sizes="120x120" href="/media/apple-icon-120x120.png">
      <link rel="apple-touch-icon" sizes="144x144" href="/media/apple-icon-144x144.png">
      <link rel="apple-touch-icon" sizes="152x152" href="/media/apple-icon-152x152.png">
      <link rel="apple-touch-icon" sizes="180x180" href="/media/apple-icon-180x180.png">
      <link rel="icon" type="image/png" sizes="192x192"  href="/media/android-icon-192x192.png">
      <link rel="icon" type="image/png" sizes="32x32" href="/media/favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="96x96" href="/media/favicon-96x96.png">
      <link rel="icon" type="image/png" sizes="16x16" href="/media/favicon-16x16.png">
      <link rel="manifest" href="/media/manifest.json">
      <meta name="msapplication-TileColor" content="#ffffff">
      <meta name="msapplication-TileImage" content="/media/ms-icon-144x144.png">
      <meta name="theme-color" content="#ffffff">

      <!-- CSS only -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

<!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
    </head>

<header>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Ilja Belankins</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/projects">Projects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/books">Book Reviews</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="http://cocktails.iljabelankins.co.uk/">Cocktail Search Engine</a>
            </li>
          </ul>
          <span class="navbar-text">
            belankinsilja@hotmail.co.uk
        </span>
        </div>
      </nav>


</header>

<body>


<div class="content">

    {% block content %}{% endblock %}

</div>

</body>

<footer>


</footer>

</html>

<style>

body {
    background-color: #F8B195;
    padding: 10px;
}

header nav {
    border-radius: 5px;
}

.content {
    padding-top: 40px;
}

@media only screen and (max-width: 800px)
.content {
    width: auto;
    margin: 25px 5%;
}

body,
header,
footer{
  font-family: 'Raleway', sans-serif;
}


</style>