{% extends 'layout.html' %}

{% block content %}


<img src="{{project['image']}}" style="max-width: 100%; display:block; margin-left:auto; margin-right: auto;">


<div class="jumbotron">
    <h1 class="display-4">{{project['title']}}</h1>
    <p class="lead">{{project['project_date']}}</p>
    <hr class="my-4">
    <p>{{project['full_description']| safe }}</p>
    <a class="btn btn-primary btn-lg" href="{{project['source_link']}}" role="button">View Source Code</a>
</div>

{% endblock %}