{% extends 'layout.html' %}

{% block content %}

<div class="container">
  <div class="row">

{% for project in projects %}



<div class="col-sm">

<div class="card" style="width: 18rem;">
    <img src="{{project['image']}}" class="card-img-top" alt="Screenshot of Project">
    <div class="card-body">
      <h5 class="card-title">{{project['title']}}</h5>
      <p class="card-text">{{project['short_description']}}.</p>
      <a href="/projects/{{project['id']}}" class="btn btn-primary">Read more</a>
    </div>
</div>
<br>
</div>

{% endfor %}

</div>
</div>

{% endblock %}